<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">

		<bean id="methodReplacerImpl" class="beans.MethodReplacerImpl"/>
		<bean id="course" class="beans.Course">
			<property name="cid" value="C-111"/>
			<property name="cname" value="Java"/>
			<property name="ccost" value="10000"/>
			<replaced-method name="getCourseDetails" replacer="methodReplacerImpl"/>
		</bean>

</beans>