<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="addressBean" class="beans.Address">
		<property name="pinCode" value="879647"></property>
		<property name="street" value="MGRaod"></property>
		<property name="city" value="HYD"></property>
		<property name="state" value="Telengana"></property>
		<property name="country" value="India"></property>

	</bean>

	<bean id="studentBean" class="beans.Student">
		<property name="sId" value="S-111"></property>
		<property name="sName" value="Rohit"></property>
		<property name="sAddr" ref="addressBean"></property>
		  
		<property name="sQual">
			<list>
				<value>BTech</value>
				<value>MTech</value>
				<value>PHD</value>
			</list>
		</property> 
	
		<property name="sCourses">
			<set>
				<value>C</value>
				<value>C++</value>
				<value>Java</value>
				<value>Python</value>
			</set>
		</property>
		
		<property name="sCourses_And_Faculty">
			<map>
				<entry key="C" value="Kiran"/>
				<entry key="C++" value="Naresh"/>
				<entry key="Java" value="Durga"/>
				<entry key="Spring" value="Hyder"/>
			</map>
		</property>
		
		<property name="sCourse_And_Cost">
			<props>
				<prop key="C">1000</prop>
				<prop key="C++">2000</prop>
				<prop key="Java">3000</prop>
				<prop key="Python">4000</prop>
			</props>		
		</property>
		
		
	</bean>
</beans>