<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="employeeBean" class="bean.Employee">
		<property name="eId" value="A-111"></property>
		<property name="eName" value="Ravi"></property>
		<property name="eSal" value="20000"></property>
		<property name="eAddr" value="HYD"></property>
	</bean>
</beans>